In [4]:
a=range(5)

In [5]:
print(list(a))

[0, 1, 2, 3, 4]

In [6]:
x=range(1,6)
print(list(x))

[1, 2, 3, 4, 5]

In [8]:
y=range(10,0,-2)
print(list(y))

[10, 8, 6, 4, 2]

In [13]:
list2=["貓","浣熊","貉"]

In [12]:
print(list)

[1, 5, 6, 8]

In [14]:
print(list2)

['貓', '浣熊', '貉']

In [16]:
print(list2[1])     #從0開始數   0貓  1浣熊  2貉
print(list2[-2])                #索引也可以-的  -1貉 -2浣熊  -3貓

浣熊
浣熊

In [17]:
list3=["tom","1234"],["mary","abcd"],["jack","5678"]

In [18]:
print(list3[0])

['tom', '1234']

In [19]:
print(list3[0][0])

tom

In [20]:
list4=[85,79,93]
print("國文成績:",list4[0])
print("數學成績:",list4[1])
print("英文成績:",list4[2])

國文成績: 85
數學成績: 79
英文成績: 93

In [21]:
list2=["貓","浣熊","貉"]
for s in list2:
    print(s,end=",")

貓,浣熊,貉,

In [23]:
list3=[123,"apple",5>4]
for a in list3:
 print(a[0])
 print(a[1])
 print(a[2])

123

IndexError: list index out of range

In [35]:

d=["國文成績:85分","數學成績:79分","英文成績:93分"]
for j in range(len(d)):
         print(d[j])

國文成績:85分
數學成績:79分
英文成績:93分

In [36]:
d=["編號:1","編號:2","編號:3"]
f=["姓名: Tom","姓名: Mary","姓名: Tony"]
for j in range(len(d)):
    for i in range(len(f)):
             print(d[j],f[i])

編號:1 姓名: Tom
編號:1 姓名: Mary
編號:1 姓名: Tony
編號:2 姓名: Tom
編號:2 姓名: Mary
編號:2 姓名: Tony
編號:3 姓名: Tom
編號:3 姓名: Mary
編號:3 姓名: Tony

In [39]:
d = [1, 2, 3]
f = ["Tom", "Mary", "Tony"]

for j in range(len(d)):
    x = d[j]
    y = f[j]
    print("編號:", x, "姓名:", y)

編號: 1 姓名: Tom
編號: 2 姓名: Mary
編號: 3 姓名: Tony

In [38]:
d=[1,2,3]
f=["Tom","Mary","Tony"]
for j in range(len(d)) :
        x=d[j]
        for i in range(len(f)):
            y=f[i]
print("編號:",x,"姓名:",y)

編號: 3 姓名: Tony

TypeError: 'int' object is not subscriptable

In [27]:
list4=[85,79,93]
print("國文成績:",list4[0])
print("數學成績:",list4[1])
print("英文成績:",list4[2])

國文成績: 85
數學成績: 79
英文成績: 93

In [ ]:
c=f'{2024-n}'
print("you are",c,"years old")

In [45]:
a,b,c=input().split()
a=int(a)
b=int(b)
c=int(c)
for i in range(a,b,c):
    print(i,end=",")

0、5、10、15、20、25、30、35、40、45、50、55、60、65、70、75、80、85、90、95、

In [52]:
a,b,c=input().split()
a=int(a)
b=int(b)
c=int(c)
j=[i for i in range(a,b,c)]
print(j)

[3, 4, 5, 6, 7]

In [50]:

a, b, c = input().split()
a = int(a)
b = int(b)
c = int(c)
j = [i for i in range(a, b, c)]
print(j)

[3, 4, 5, 6, 7]

In [64]:



t= input()


j = t.split()


g = []


for i in range(len(j) - 1, -1, -1):
    g.append(j[i])

# Join the reversed list into a single string with spaces in between
x = ' '.join(g)

# Print the resulting string
print(g)

['150', '120', '90', '60', '30']

In [65]:
t= input()
j = t.split()

g=(i for i in range(j::-1)):
print(g)

1

In [69]:
t=input()
g=t.split()
g=g[::-1]
r= ' '.join(g)     
print(r)
#separator.join(iterable)
#items = ['apple', 'banana', 'cherry']
#result = ' '.join(items)
#print(result)
#output=apple banana cherry
#thank u chat gpt

4 5 6